* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --azulDigisac: #52658C;
    --brancoDigisac: #F9FBFF; 
    --azulHoverDigisac: #404F6F;
    --verdeDigisac: #34AF23;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    background-color: var(--azulDigisac);
}

.container {
    margin: 1rem auto;
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--brancoDigisac);
    padding: 0.7rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3);
}

.sectionDesc {
    display: flex;
    padding: 0.2rem;
    justify-content: space-between;
    gap: 0.3rem;

}

.sectionDesc h2 {
    font-size: 1.1rem;
}

.sectionDesc section {
    padding: 0.3rem;
    line-height: 1.8rem;
}

.form, .label-inputs {
    display: flex;
    flex-direction: column;
}

.form {
    gap: 1.1rem;
}

.label-inputs {
    gap: 0.5rem;
}

.labels, #buttonSubmit {
    font-size: 1.1rem;
}

.inputs {
    padding: 0.4rem;
    border: 1px solid black;
    border-radius: 0.2rem;
}

#buttonSubmit {
    background-color: #52658C;
    border: none;
    color: white;
    padding: 0.4rem;
    cursor: pointer;
    border-radius: 0.2rem;
}

#buttonSubmit:hover {
    background-color: var(--azulHoverDigisac);
}

#resultado {
    font-weight: 500;
}